@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    background-image: url('images/bgpaw.png');
    background-repeat: space;
}

/* NAVIGATION BAR*/

nav li, header a, header button {
    font-family: "Macondo", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: palevioletred;
    text-decoration: none;
    transition: transform .3s ease-in-out;
}

nav li:hover {
    transform: scale(1.2);
}

header button:hover {
    transform: scale(1.2);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: aliceblue;
}

.logo {
    height: 50px;
    width: auto;
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;    
}

.navbtnbook {
    padding: 9px 25px;
    background-color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}



/* DIALOG BOX/POPUP MODAL */

.btModal {
    padding: 32px 64px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0%;
    text-align: center;
    transition: transform .3s ease-in-out, opacity .4s ease;
    transform: translate(-50%, -100%);
    z-index: 99;
}


.btModal p {
    margin-bottom: 24px;
}

.btModal.show {
    opacity: 100%;
    pointer-events: all;
    transform: translate(-50%, -50%);
}

/* INTRODUCTION CONTAINER */
.welcontainer {
    display: flex;
    flex-wrap: wrap;  /* places containers underneath, when browser is smaller */
    align-items: center; /* aligns divs inside in the center*/
    background-color: rgba(39, 217, 245, 0.5);
    width: 80%;  
    justify-content: center;
    margin: 50px auto;
  }
  
  .intro {
    flex: 1;
    text-align: center;
  }

  .intro h1 {
    font-family: "Macondo", sans-serif;
    font-weight: 1000;
    font-size: 50px;
  }
  
  .intro p {
    font-family: "Macondo", sans-serif;
    font-weight: 1000;
    font-size: 18px;
  }

  .imgcontainer {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    display: flex;
    height: 500px;
  }

  .innerimages{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .innerimages .cafeoverlay {
    display: none;
    z-index: 2;
    transition: transform 0.5s ease-in-out;
  }

  .innerimages .cafe-img {
    transition: transform 0.5s ease-in-out;
  }

  
  .innerimages:hover .cafe-img {
    display: none;
  } 

  .innerimages:hover .cafeoverlay {
    display: inline-block;
    transform: scale(1.2);
  }


  .cafe-img, .cafeoverlay {
    object-fit: cover;
    max-height: 400px;
    transition: transform 0.5s ease-in-out;
  }

  .booktablebtn {
    margin-top: 10px;
    padding: 15px 25px;
    background-color: white;
    border-color: lightblue;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  /* Cat Roles */

  .kittyteam {
    margin: 10px auto;
    border: 10px solid blue;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    flex-wrap: wrap;
  }

  .cat {
    max-height: 250px;

  }